

.textarea {
    border: 1px solid #222;
    border-radius: 4px;
    width: 700px;
    height: 60px;
    font-size: 15px;
    padding: 0.5em;
    outline: none;
}

.text-field {
    text-wrap: wrap;
    word-wrap: break-word;
    white-space: pre;
}